@media (max-width: 1000px)
    
    .header

        &__title h1
            font-size: 40px

        &__subtitle p
            font-size: 18px
            padding: 0 15%

    .actual

        &__title p
            padding: 50px 10% 80px 10%

    .functional

        &__item p
            font-size: 17px


@media (max-width: 800px)

    .functional
        height: 100%

        &__item
            border-radius: 50px
            width: 30%

        &__inner
            display: flex
            flex-direction: column
            align-items: center


    .p1
        left: 0
        position: static
        margin: 20px 0
        width: 50%
    
    .p2
        left: 0
        top: 0
        position: static
        margin: 20px 0
        width: 50%
    .p3
        left: 0
        top: 0
        position: static
        margin: 20px 0
        width: 50%
    .p4
        top: 0
        left: 0
        position: static
        margin: 20px 0
        width: 50%
    .p5
        top: 0
        left: 0
        position: static
        margin: 20px 0
        width: 50%


@media (max-width: 800px)

    .header

        &__title h1
            font-size: 30px

    .actual

        &__title h1
            font-size: 28px

    .functional

        &__title h1
            font-size: 45px

    .end

        &__title h1
            font-size: 45px
