.actual
    font-family: 'Gilroy Regular'
    background-color: #F9F9FB
    padding-bottom: 100px
    padding-top: 90px

    &__wrapper
        background: #398254
        border-radius: 172px 0 172px 0
        margin: 0px 250px 90px 250px
    
    &__title h1
        font-size: 55px
        color: #FFFFFF
        text-align: center
        padding-top: 30px
        padding: 80px 10px 0px 10px
        line-height: 61px

    &__title p
        font-size: 18px
        text-align: center
        padding: 50px 20% 80px 20%
        color: #FFFFFF

    &__title ol
        padding-top: 30px
        text-align: center

    &__title ol li
        margin: 10px 10px
        font-size: 24px

    &__title a
        margin-top: 30px
        display: flex
        justify-content: center