* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 130%;
  background-color: #F9F9FB;
}
.header__main {
  margin: 0 auto;
}
.header__item {
  text-align: center;
  font-family: "Gilroy Regular";
}
.header__logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.header__title h1 {
  font-size: 75px;
  margin-bottom: 35px;
  margin-top: 40px;
}
.header__subtitle p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 30%;
}
.header__link {
  margin-top: 40px;
  padding-bottom: 40px;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("../../public/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.actual {
  font-family: "Gilroy Regular";
  background-color: #F9F9FB;
  padding-bottom: 1px;
  padding-top: 90px;
}
.actual__wrapper {
  background: #398254;
  border-radius: 172px 0 172px 0;
  margin: 0px 15% 90px 15%;
}
.actual__title h1 {
  font-size: 55px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
  padding: 80px 10px 0px 10px;
  line-height: 61px;
}
.actual__title p {
  font-size: 18px;
  text-align: center;
  padding: 50px 20% 80px 20%;
  color: #FFFFFF;
}
.actual__title ol {
  padding-top: 30px;
  text-align: center;
}
.actual__title ol li {
  margin: 10px 10px;
  font-size: 24px;
}
.actual__title a {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.end {
  font-family: "Gilroy Regular";
  background-color: #F9F9FB;
}
.end__title h1 {
  color: #398254;
  font-size: 55px;
  line-height: 64px;
}
.end__title {
  text-align: center;
}

.end img {
  margin-top: 50px;
}

.functional {
  font-family: "Gilroy Regular";
  background-color: #F9F9FB;
  padding-bottom: 100px;
  padding-top: 90px;
  height: 800px;
}
.functional__title h1 {
  font-size: 55px;
  line-height: 63px;
  color: #398254;
  text-align: center;
  font-weight: normal;
}
.functional__title {
  padding: 0px 10px 70px 10px;
}
.functional__item {
  background: #C0F492;
  border-radius: 100px;
  width: 25%;
  text-align: center;
}
.functional__item p {
  padding: 30px;
  font-size: 20px;
}
.functional__inner {
  position: relative;
}

.p1 {
  position: absolute;
  left: 5%;
}

.p2 {
  position: absolute;
  left: 37%;
}

.p3 {
  position: absolute;
  left: 70%;
}

.p4 {
  position: absolute;
  top: 200px;
  left: 20%;
}

.p5 {
  position: absolute;
  top: 200px;
  left: 55%;
}

@media (max-width: 1000px) {
  .header__title h1 {
    font-size: 40px;
  }
  .header__subtitle p {
    font-size: 18px;
    padding: 0 15%;
  }

  .actual__title p {
    padding: 50px 10% 80px 10%;
  }

  .functional__item p {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .functional {
    height: 100%;
  }
  .functional__item {
    border-radius: 50px;
    width: 30%;
  }
  .functional__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p1 {
    left: 0;
    position: static;
    margin: 20px 0;
    width: 50%;
  }

  .p2 {
    left: 0;
    top: 0;
    position: static;
    margin: 20px 0;
    width: 50%;
  }

  .p3 {
    left: 0;
    top: 0;
    position: static;
    margin: 20px 0;
    width: 50%;
  }

  .p4 {
    top: 0;
    left: 0;
    position: static;
    margin: 20px 0;
    width: 50%;
  }

  .p5 {
    top: 0;
    left: 0;
    position: static;
    margin: 20px 0;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .header__title h1 {
    font-size: 30px;
  }

  .actual__title h1 {
    font-size: 28px;
  }

  .functional__title h1 {
    font-size: 45px;
  }

  .end__title h1 {
    font-size: 45px;
  }
}

/*# sourceMappingURL=style.css.map */
